@import url("https://use.fontawesome.com/releases/v6.2.1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

@import "./scss/nav", "./scss/main", "./scss/leafts";
