.contact {
  text-align: center;
  display: block;
  width: 90%;
  margin: auto;

  h2 {
    text-align: center;
    color: #d47195;
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .contact-panel {
    width: 100%;
    display: flex;
    justify-content: center;

    h3 {
      color: #d47195;
      font-size: 1.5rem;
    }

    .company-data,
    .contact-form {
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 2rem;
    }

    .company-data {
      p {
        margin-top: 1rem;
      }

      .bolder {
        font-weight: bolder;
        font-family: "Times New Roman", Times, serif;
        font-size: 1.25rem;
      }
      .address {
        margin-bottom: 3rem;
      }
    }

    .contact-form {
      border-radius: 1rem;
      border: 1px solid black;

      h3 {
        font-size: 2rem;
      }

      button {
        margin: 1rem 0;
        padding: 0.8rem 3rem;
        text-transform: uppercase;
        background: #d47195;
        color: #fff;
        font-size: 1.5rem;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
      }

      p {
        margin-top: 3rem;
        text-align: left;

        label {
          font-weight: bold;
          display: block;
          color: #d47195;
        }

        input[type="text"],
        textarea {
          width: 90%;
          padding: 0.5rem;
        }

        textarea {
          resize: none;
          height: 100px;
        }
      }
    }
  }
}
